.slick-slider {
  width: 100%;
}

.gradient_bg {
  background: linear-gradient(180deg, rgba(0, 81, 106, 0.3589810924) 0%, rgb(0, 47, 61) 100%);
}

.section-header {
  height: -moz-max-content;
  height: max-content;
}
.section-header .slick-track {
  height: 100%;
}
.section-header .slick-track .slick-slide {
  height: 100%;
}
.section-header .slick-track .slick-slide > div {
  height: 100%;
}
.section-header .slick-dots li.slick-active {
  background-color: white;
}
.section-header .slick-dots li {
  background-color: white;
}
.section-header .collection-banner {
  height: 26rem;
  position: relative;
}
@media (max-width: 1400px) {
  .section-header .collection-banner {
    height: 20rem;
  }
}
@media (max-width: 500px) {
  .section-header .collection-banner {
    height: 17rem;
  }
}
.section-header .collection-banner .slick-slider {
  height: 100%;
}
.section-header .collection-banner .slick-slider .slick-list,
.section-header .collection-banner .slick-slider .slick-track {
  height: 100%;
}
.section-header .collection-banner .container-slick-dots {
  display: flex;
  position: absolute;
  z-index: 2;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 1.5rem;
}
@media (max-width: 500px) {
  .section-header .collection-banner .container-slick-dots {
    bottom: 0.5rem;
  }
}
.section-header .collection-banner .container-slick-dots .slick-dots {
  display: flex;
  gap: 0 0.5rem;
}
@media (max-width: 1500px) {
  .section-header .collection-banner .container-slick-dots .slick-dots {
    bottom: 0;
  }
}
.section-header .collection-banner .container-slick-dots .slick-dots .dot {
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
  transition: 0.5s;
}
@media (max-width: 1500px) {
  .section-header .collection-banner .container-slick-dots .slick-dots .dot {
    width: 0.8rem;
    height: 0.8rem;
  }
}
@media (max-width: 500px) {
  .section-header .collection-banner .container-slick-dots .slick-dots .dot {
    width: 0.7rem;
    height: 0.7rem;
    box-shadow: 0px 0px 10px -3px white;
  }
}
.section-header .collection-banner .container-slick-dots .slick-dots .dot.active {
  opacity: 1;
  background-color: white;
}
.section-header .banner-text {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, rgb(255, 190, 201) 0%, rgb(255, 180, 193) 37%, rgb(255, 150, 168) 100%);
  position: relative;
}
.section-header .banner-text .container {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
.section-header .banner-text .title-banner {
  width: 40rem;
  font-size: 3.5rem;
  line-height: 1.2;
  font-family: "IBMPlexSans-Bold";
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 1400px) {
  .section-header .banner-text .title-banner {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .section-header .banner-text .title-banner {
    font-size: 1.5rem;
  }
}
.section-header .banner-text .background-banner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
}
.section-header .banner-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-header .banner {
  height: 100%;
}
.section-header .banner picture {
  height: 100%;
}
.section-header .banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=sectionheader.css.map */