:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.slick-slider {
  width: 100%;
}
.gradient_bg {
  background: linear-gradient(180deg, rgba(0, 81, 106, 0.35898109243697474) 0%, rgba(0, 47, 61, 1) 100%);
}
.section-header {
  height: max-content;
}
.section-header .slick-track {
  height: 100%;
}
.section-header .slick-track .slick-slide {
  height: 100%;
}
.section-header .slick-track .slick-slide > div {
  height: 100%;
}
.section-header .slick-dots li.slick-active {
  background-color: white;
}
.section-header .slick-dots li {
  background-color: white;
}
.section-header .collection-banner {
  height: 26rem;
  position: relative;
}
@media (max-width: 1400px) {
  .section-header .collection-banner {
    height: 20rem;
 }
}
@media (max-width: 500px) {
  .section-header .collection-banner {
    height: 17rem;
 }
}
.section-header .collection-banner .slick-slider {
  height: 100%;
}
.section-header .collection-banner .slick-slider .slick-list, .section-header .collection-banner .slick-slider .slick-track {
  height: 100%;
}
.section-header .collection-banner .container-slick-dots {
  display: flex;
  position: absolute;
  z-index: 2;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 1.5rem;
}
@media (max-width: 500px) {
  .section-header .collection-banner .container-slick-dots {
    bottom: 0.5rem;
 }
}
.section-header .collection-banner .container-slick-dots .slick-dots {
  display: flex;
  gap: 0 0.5rem;
}
@media (max-width: 1500px) {
  .section-header .collection-banner .container-slick-dots .slick-dots {
    bottom: 0;
 }
}
.section-header .collection-banner .container-slick-dots .slick-dots .dot {
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
  transition: 0.5s;
}
@media (max-width: 1500px) {
  .section-header .collection-banner .container-slick-dots .slick-dots .dot {
    width: 0.8rem;
    height: 0.8rem;
 }
}
@media (max-width: 500px) {
  .section-header .collection-banner .container-slick-dots .slick-dots .dot {
    width: 0.7rem;
    height: 0.7rem;
    box-shadow: 0px 0px 10px -3px white;
 }
}
.section-header .collection-banner .container-slick-dots .slick-dots .dot.active {
  opacity: 1;
  background-color: white;
}
.section-header .banner-text {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, rgba(255, 190, 201, 1) 0%, rgba(255, 180, 193, 1) 37%, rgba(255, 150, 168, 1) 100%);
  position: relative;
}
.section-header .banner-text .container {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
.section-header .banner-text .title-banner {
  width: 40rem;
  font-size: 3.5rem;
  line-height: 1.2;
  font-family: 'IBMPlexSans-Bold';
  text-align: center;
  user-select: none;
}
@media (max-width: 1400px) {
  .section-header .banner-text .title-banner {
    font-size: 2.5rem;
 }
}
@media (max-width: 500px) {
  .section-header .banner-text .title-banner {
    font-size: 1.5rem;
 }
}
.section-header .banner-text .background-banner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
}
.section-header .banner-text::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-header .banner {
  height: 100%;
}
.section-header .banner picture {
  height: 100%;
}
.section-header .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}